{% extends 'base.html' %}
{% load humanize %}

{% block title %}My Courses{% endblock %}

{% block content %}
      <div class="mb-3">
    <a href="{% url 'lecturer_dashboard' %}" class="btn btn-secondary">
        ← Back to Dashboard
    </a>
</div>
<h3 class="mb-4">My Assigned Courses</h3>

<div class="card shadow-sm">
    <div class="card-body">
        {% if courses %}
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                    <th>Fee</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ course.course_code }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.credits }}</td>
                    <td>{{ course.course_fee|floatformat:2|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning">No courses assigned.</div>
        {% endif %}
    </div>
</div>
{% endblock %}